<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Projects Home Page</h1>
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }} !!!</p>

        {% if projects %}
            <ul>
            {% for project in projects %}
                <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No projects are available.</p>
        {% endif %}

    {% else %}
        <p>Not allowed to access this page</p>
    {% endif %}

</body>
</html>